In [3]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [4]:
sqlContext = pyspark.SQLContext(sc)
business = sqlContext.read.json('C:\\bigdata\data\yelp_dataset\\business.json')
review = sqlContext.read.json('C:\\bigdata\data\yelp_dataset\\review.json')
#checkin = sqlContext.read.json('C:\\bigdata\data\yelp_dataset\checkin.json')
#tip = sqlContext.read.json('C:\\bigdata\data\yelp_dataset\\tip.json')
#photo = sqlContext.read.json('C:\\bigdata\data\yelp_dataset\\photo.json')
#user = sqlContext.read.json('C:\\bigdata\data\yelp_dataset\\user.json')

In [147]:
help(review)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(builtins.object)
 |  DataFrame(jdf, sql_ctx)
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the data frame, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy.agg()``).
 |
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      :param alias: string, an alias name to be set for the DataFrame.
 |
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age").collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of numerical columns of a
 |      DataFrame.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the DataFrame has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the DataFrame so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[http://dx.doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      :param col: str, list.
 |        Can be a single column name, or a list of names for multiple columns.
 |      :param probabilities: a list of quantile probabilities
 |        Each number must belong to [0, 1].
 |        For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      :param relativeError:  The relative target precision to achieve
 |        (>= 0). If set to zero, the exact quantiles are computed, which
 |        could be very expensive. Note that values greater than 1 are
 |        accepted but give the same result as 1.
 |      :return:  the approximate quantiles at the given probabilities. If
 |        the input `col` is a string, the output is a list of floats. If the
 |        input `col` is a list or tuple of strings, the output is also a
 |        list, but each element in it is a list of floats, i.e., the output
 |        is a list of list of floats.
 |
 |      .. versionchanged:: 2.2
 |         Added support for multiple columns.
 |
 |      .. versionadded:: 2.0
 |
 |  cache(self)
 |      Persists the :class:`DataFrame` with the default storage level (C{MEMORY_AND_DISK}).
 |
 |      .. note:: The default storage level has changed to C{MEMORY_AND_DISK} to match Scala in 2.0.
 |
 |      .. versionadded:: 1.3
 |
 |  checkpoint(self, eager=True)
 |      Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the
 |      logical plan of this DataFrame, which is especially useful in iterative algorithms where the
 |      plan may grow exponentially. It will be saved to files inside the checkpoint
 |      directory set with L{SparkContext.setCheckpointDir()}.
 |
 |      :param eager: Whether to checkpoint this DataFrame immediately
 |
 |      .. note:: Experimental
 |
 |      .. versionadded:: 2.1
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      :param numPartitions: int, to specify the target number of partitions
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |      .. versionadded:: 1.4
 |
 |  colRegex(self, colName)
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      :param colName: string, column name specified as a regex.
 |
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |      .. versionadded:: 2.3
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a DataFrame as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |      :param method: The correlation method. Currently only supports "pearson"
 |
 |      .. versionadded:: 1.4
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      >>> df.count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |
 |      .. versionadded:: 1.4
 |
 |  createGlobalTempView(self, name)
 |      Creates a global temporary view with this DataFrame.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.1
 |
 |  createOrReplaceGlobalTempView(self, name)
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.2
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a local temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  createTempView(self, name)
 |      Creates a local temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  crossJoin(self, other)
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      :param other: Right side of the cartesian product.
 |
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |      .. versionadded:: 2.1
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      :param col1: The name of the first column. Distinct items will make the first item of
 |          each row.
 |      :param col2: The name of the second column. Distinct items will make the column names
 |          of the DataFrame.
 |
 |      .. versionadded:: 1.4
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregation on them.
 |
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  describe(self, *cols)
 |      Computes basic statistics for numeric and string columns.
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      .. note:: This function is meant for exploratory data analysis, as we make no
 |          guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      >>> df.describe(['age']).show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe().show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      .. versionadded:: 1.3.1
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      >>> df.distinct().count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  drop(self, *cols)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      :param cols: a string name of the column to drop, or a
 |          :class:`Column` to drop, or a list of string name of the columns to drop.
 |
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |      .. versionadded:: 1.4
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      :param how: 'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      :param thresh: int, default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      :param subset: optional list of column names to consider.
 |
 |      >>> df4.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  exceptAll(self, other)
 |      Return a new :class:`DataFrame` containing rows in this :class:`DataFrame` but
 |      not in another :class:`DataFrame` while preserving duplicates.
 |
 |      This is equivalent to `EXCEPT ALL` in SQL.
 |
 |      >>> df1 = spark.createDataFrame(
 |      ...         [("a", 1), ("a", 1), ("a", 1), ("a", 2), ("b",  3), ("c", 4)], ["C1", "C2"])
 |      >>> df2 = spark.createDataFrame([("a", 1), ("b", 3)], ["C1", "C2"])
 |
 |      >>> df1.exceptAll(df2).show()
 |      +---+---+
 |      | C1| C2|
 |      +---+---+
 |      |  a|  1|
 |      |  a|  1|
 |      |  a|  2|
 |      |  c|  4|
 |      +---+---+
 |
 |      Also as standard in SQL, this function resolves columns by position (not by name).
 |
 |      .. versionadded:: 2.4
 |
 |  explain(self, extended=False)
 |      Prints the (logical and physical) plans to the console for debugging purpose.
 |
 |      :param extended: boolean, default ``False``. If ``False``, prints only the physical plan.
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      Scan ExistingRDD[age#0,name#1]
 |
 |      >>> df.explain(True)
 |      == Parsed Logical Plan ==
 |      ...
 |      == Analyzed Logical Plan ==
 |      ...
 |      == Optimized Logical Plan ==
 |      ...
 |      == Physical Plan ==
 |      ...
 |
 |      .. versionadded:: 1.3
 |
 |  fillna(self, value, subset=None)
 |      Replace null values, alias for ``na.fill()``.
 |      :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.
 |
 |      :param value: int, long, float, string, bool or dict.
 |          Value to replace null values with.
 |          If the value is a dict, then `subset` is ignored and `value` must be a mapping

In [57]:
review.head(1)

[Row(business_id='ujmEBvifdJM6h6RLv4wQIg', cool=0, date='2013-05-07 04:34:36', funny=1, review_id='Q1sbwvVQXV2734tPgoKj4Q', stars=1.0, text='Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.', useful=6, user_id='hG7b0MtEbXx5QzbzE6C_VA')]

In [5]:
business.printSchema()
# review.printSchema()
#checkin.printSchema()
#tip.printSchema()
#user.printSchema()
#photo.printSchema()

#review.head(10)

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [140]:
review.head(2)

[Row(business_id='ujmEBvifdJM6h6RLv4wQIg', cool=0, date='2013-05-07 04:34:36', funny=1, review_id='Q1sbwvVQXV2734tPgoKj4Q', stars=1.0, text='Total bill for this horrible service? Over $8Gs. These crooks actually had the nerve to charge us $69 for 3 pills. I checked online the pills can be had for 19 cents EACH! Avoid Hospital ERs at all costs.', useful=6, user_id='hG7b0MtEbXx5QzbzE6C_VA'),
 Row(business_id='NZnhc2sEQy3RmzKTZnqtwQ', cool=0, date='2017-01-14 21:30:33', funny=0, review_id='GJXCdrto3ASJOqKeVWPi6Q', stars=5.0, text="I *adore* Travis at the Hard Rock's new Kelly Cardenas Salon!  I'm always a fan of a great blowout and no stranger to the chains that offer this service; however, Travis has taken the flawless blowout to a whole new level!  \n\nTravis's greets you with his perfectly green swoosh in his otherwise perfectly styled black hair and a Vegas-worthy rockstar outfit.  Next comes the most relaxing and incredible shampoo -- where you get a full head message that could cure even the very worst migraine in minutes --- and the scented shampoo room.  Travis has freakishly strong fingers (in a good way) and use the perfect amount of pressure.  That was superb!  Then starts the glorious blowout... where not one, not two, but THREE people were involved in doing the best round-brush action my hair has ever seen.  The team of stylists clearly gets along extremely well, as it's evident from the way they talk to and help one another that it's really genuine and not some corporate requirement.  It was so much fun to be there! \n\nNext Travis started with the flat iron.  The way he flipped his wrist to get volume all around without over-doing it and making me look like a Texas pagent girl was admirable.  It's also worth noting that he didn't fry my hair -- something that I've had happen before with less skilled stylists.  At the end of the blowout & style my hair was perfectly bouncey and looked terrific.  The only thing better?  That this awesome blowout lasted for days! \n\nTravis, I will see you every single time I'm out in Vegas.  You make me feel beauuuutiful!", useful=0, user_id='yXQM5uF2jS6es16SJzNHfg')]

In [4]:
 # Create a view to query the business
business.createOrReplaceTempView("business")
review.createOrReplaceTempView("review")

In [15]:
business_df=spark.sql("select * from business where business_id='1SWheh84yJXfytovILXOAQ'")

In [29]:
top_business=spark.sql("select business_id from business order by review_count desc limit 1").collect()

In [30]:
print(top_business)

[Row(business_id='4JNXUYY8wbaaDmk3BPzlWw')]

In [33]:
top_business

[Row(business_id='4JNXUYY8wbaaDmk3BPzlWw')]

In [37]:
spark.sql("select categories,count(business_id) as cnt from business group by 1 order by cnt desc limit 5").show()

+--------------------+----+
|          categories| cnt|
+--------------------+----+
|  Restaurants, Pizza|1042|
|Nail Salons, Beau...|1031|
|  Pizza, Restaurants| 993|
|Beauty & Spas, Na...| 947|
|  Food, Coffee & Tea| 888|
+--------------------+----+

In [39]:
spark.sql("select business_id from business where categories='Restaurants, Pizza' order by review_count desc limit 5").collect()

[Row(business_id='YQ--LJ7pvjiDSqNv0TuKTQ'),
 Row(business_id='UT6L3b7Zll_nvRidijiDSA'),
 Row(business_id='u_8cVZyxh0J468zEZUjNDQ'),
 Row(business_id='RRw9I8pHt5PzgYGT2QeODw'),
 Row(business_id='I0f12eU-xFn6Kd_4H57jrQ')]

In [9]:
review_subset=spark.sql("select r.* from review r inner join business b on r.business_id=b.business_id where categories='Restaurants, Pizza' and r.stars<2 and text is not null")

In [143]:
import json
import csv
import re
import string
import pandas as pd

reviews_pd=review_subset.toPandas()

#reviews = open("C:\\bigdata\data\yelp_dataset\\review.json",encoding="utf8")

def clean_text(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    '''Get rid of some additional punctuation and non-sensical text that was missed the first time around.'''
    text = re.sub('[‘’“”…]', '', text)
    text = re.sub('\n', '', text)
    return text

c=0
business_review={}

for index, row in reviews_pd.iterrows():    
    if c==-9999:
        break
    else:
        if row['business_id'] in business_review:
            all_review_text=business_review[row['business_id']]
            current_review=row['text']
            current_review=clean_text(current_review)
            all_review_text=all_review_text+' '+current_review            
            business_review[row['business_id']]=all_review_text
        else:
            current_review=row['text']
            current_review=clean_text_round1(current_review)
            business_review[row['business_id']]=current_review
    c=c+1

#for line in reviews:
#    json_parsed = json.loads(line)
#    if c==9999:
#        break
#    else:
#        if json_parsed['business_id'] in business_review:
#            all_review_text=business_review[json_parsed['business_id']]
#            current_review=json_parsed['text']
#            current_review=clean_text(current_review)
#            all_review_text=all_review_text+' '+current_review            
#            business_review[json_parsed['business_id']]=all_review_text
#        else:
#            current_review=json_parsed['text']
#            current_review=clean_text_round1(current_review)
#            business_review[json_parsed['business_id']]=current_review
#    c=c+1

In [94]:
#print(business_review.keys())
#print(business_review.values())

print(business_review['ujmEBvifdJM6h6RLv4wQIg'])
#print(business_review['UT6L3b7Zll_nvRidijiDSA'])

#next(iter(business_review.keys()))

total bill for this horrible service over  these crooks actually had the nerve to charge us  for  pills i checked online the pills can be had for  cents each avoid hospital ers at all costs my family has used this er four times in the past  years once you get past the waiting room this is a decent er the paid staff docs nurses med assistants etc all seem to have their act together they have volunteers at the front desk but i dont know what their purpose is because the one i talked to just sat their playing with his phone and wasnt able to provide any assistance to me the checkin can be confusing because its all done at a kiosk and during an emergency the last thought on your mind is to walk into an er only to have your first contact be with a kiosk instead of a human lastly i wish they had an onsite pharmacy that can fill prescriptions in the middle of the night its frustrating to spend hours in the er and then have to go find an open pharmacy that accepts your insurance overall though its a decent er i have never been more disappointed by the care i was provided with at mountainview hospital i asked to be paired with an obgyn that came especially recommended by a friend unfortunately that doctor was unavailable so i was paired with dr howard i also was put into a residency clinic which the front desk never informed me of i was diagnosed with hyper emesis for the first four months of my pregnancy and had to be hospitalized during my hospital stay i had an allergic reaction to the medication i was administered medication that contained an active drug that i was allergic to then soon after dr howard left the practice and i was passed around to three different doctors the experience was horrible and the quality of care is nonexistent this hospital does not care for its patients nor their wellbeing its disheartening that this was the experience i had to go through during my first months of my pregnancy went in for a broken finger was asked if i was in pain in which i stated no i was fine when i got to the next station she gave me a lortab i was confused because i had just told the previous nurse that i had zero pain so i took the pill as i thought maybe they were going to do somethings to my finger in which i would be in pain get my xray done doctor comes by and tells me its broken but i wont need surgery and that the nurse would splint it and i was to make a follow up appointment well another nurse came and got me and took me to discharge once we got there and she bid me farewell i asked who was going to splint my finger so she took me back and asked the guy that sits at the front and checks people in to splint it well he asks which finger and i tell him he proceeds to put the splint on the finger next to the broken one and he put it on the top side of my finger instead of the bottom to keep it from bending my girlfriend had to splint it correctly smdh i asked the discharge lady if it was correct she called the nurse who tried to discharge me without treatment and she asked which finger was broken and that if he splinted it that way then it must be correct come to find out the guy who splinted my finger was a volunteerim not even sure i want to see the doctor they referred me to if he is affiliated with this hospital my mother was at mountain view for nearly two weeks after surgery in late september  the staff was easy going personable and accommodating my mother had good care plus the hospital itself is a very nice facility

In [10]:
reviews_pd=review_subset.toPandas()

In [113]:
reviews_pd['business_id']

0        E4t43bnsfeOY2bv_8IPmSw
1        k2b3niokS_tosjah_rzCPw
2        k2b3niokS_tosjah_rzCPw
3        oD8kSlXINk5u7d6HQh2SxQ
4        M5Nvx_jkTf56Ne7tuXgCLQ
                  ...
27132    EVjwTJ3boXTve0hTTFxPJw
27133    ckZg3KVwR9FrAR1KtTavEQ
27134    JZ4ZRdRSllhuAt94tFCH8w
27135    VkPa6mYsHsiPPU6BQ3l4fQ
27136    VkPa6mYsHsiPPU6BQ3l4fQ
Name: business_id, Length: 27137, dtype: object

In [12]:
from sklearn.feature_extraction import text 
from sklearn.feature_extraction.text import CountVectorizer

#cv = CountVectorizer(stop_words='english')
#data_cv = cv.fit_transform(reviews_pd.text)
#data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
#data_dtm.index = reviews_pd.index
#data_dtm

In [17]:
# Let's make some word clouds!
# Terminal / Anaconda Prompt: conda install -c conda-forge wordcloud
from wordcloud import WordCloud
import matplotlib.pyplot as plt

stop_words = text.ENGLISH_STOP_WORDS.union(['pizza','slice','told','order','ordered','food','just','I''m','going','like','really','asked','place','time','got','called','came'])

wc = WordCloud(stopwords=stop_words, background_color="white", colormap="Dark2",
               max_font_size=150, random_state=42)

# print(reviews_pd['text'][0])
wc.generate(' '.join(reviews_pd['text']))

plt.imshow(wc, interpolation='bilinear')
plt.axis("off")
# plt.show()
plt.savefig("C:\\bigdata\data\yelp_dataset\plots\mygraph.png")

In [152]:
import os

os.cpu_count()

8

In [153]:
import multiprocessing as ms
ms.cpu_count()

8

In [6]:
import pandas_profiling as pp

In [8]:
pp.ProfileReport(reviews_pd)

C:\Users\rohan\Anaconda3\lib\site-packages\pandas_profiling\describe.py:392: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)